.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 2rem;
  width: 100%;
  line-height: 2rem;
  background-color: transparent;
  color: white;
  font-size: 2em;
  z-index: 100;
  &__social {
    padding: 0.3rem;
    cursor: pointer;
  }
  &__link {
    text-decoration: none;
    color: white;
    &-bold {
      font-weight: bold;
    }
    &-light {
      font-weight: lighter;
    }
  }
  &__left-box-logo-spn {
    font-size: 1.8em;
    font-weight: bold;
  }
  &__left-box {
    display: flex;

    &-burger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 25px;
      width: 25px;
      margin-right: 1rem;
      cursor: pointer;

      transition: all 0.4s;

      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transform: translate(0);
        transition: all 0.4s;
      }
    }
  }
}

.active {
  span:nth-child(2) {
    display: none;
  }
  span:nth-child(1) {
    transform: rotate(-45deg) translateX(-10px);
  }
  span:nth-child(3) {
    transform: rotate(45deg) translateX(-10px);
  }
}
